.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}